<?xml version="1.0"?>
<Menu>
  <index>55</index>
  <MenuItems>
    <Item mechanism=" BFLP  MHC  RP ">
      <name value="Test"/>
      <type value="ttt"/>
      <id value="53"/>
      <price value="5"/>
      <options>
        <option type="Text">
          <name>Test</name>
          <text>tttt</text>
        </option>
      </options>
    </Item>
    <Item mechanism=" BFLP  MHC  RP ">
      <name value="Test 2"/>
      <type value="Test 2 Type"/>
      <id value="54"/>
      <price value="5.00"/>
      <options>
        <option type="Text">
          <name>TestText</name>
          <text>Cool Guy</text>
        </option>
        <option type="Options">
          <name>TestOptions</name>
          <suboption>
            <name>Small</name>
            <price>1.00</price>
          </suboption>
          <suboption>
            <name>Medium</name>
            <price>2.00</price>
          </suboption>
          <suboption>
            <name>Large</name>
            <price>3.00</price>
          </suboption>
        </option>
      </options>
    </Item>
    
  </MenuItems>
</Menu>
